<%-include('../include/header.ejs')%>
<script src="js/feather.min.js"></script>
<div class="container-fluid container-docs">
    <nav style="max-width:100% !important;"  class="sidebar_padding sidenav  navbar-vertical navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div style="display: flex">
            <div class="scrollbar-inner px-4">
                <div class="docs-sidebar">
                    <a  href="/">
                        <h5  class="navbar-title-strong mt-4">
                            <i  class="navbar-icon-strong" data-feather="home"></i><span class="sidebar_text">首頁</span>
                        </h5>
                    </a>
                </div>
                <div class="docs-sidebar">
                    <a id="toggle-search-button" href="#search">
                        <h5 id="search" class="navbar-title  mt-4">
                            <i  class="navbar-icon" data-feather="search"></i><span class="sidebar_text">搜尋</span>
                        </h5>
                    </a>
                </div>
                <div class="docs-sidebar">
                    <a  href="/explore">
                        <h5 class="navbar-title  mt-4">
                            <i  class="navbar-icon" data-feather="compass"></i><span class="sidebar_text">探索</span>
                        </h5>
                    </a>
                </div>
                <div class="docs-sidebar">
                    <a href="/msg">
                        <h5 class="navbar-title mt-4">
                            <i  class="navbar-icon" data-feather="message-circle"></i><span class="sidebar_text">訊息</span>
                        </h5>
                    </a>
                </div>
                <div class="docs-sidebar">
                    <a href="/notice">
                        <h5 class="navbar-title mt-4">
                            <i  class="navbar-icon" data-feather="heart"></i><span class="sidebar_text">通知</span>
                        </h5>
                    </a>
                </div>
                <div class="docs-sidebar">
                    <a href="/upload">
                        <h5 class="navbar-title  mt-4">
                            <i  class="navbar-icon" data-feather="plus-square"></i><span class="sidebar_text">建立</span>
                        </h5>
                    </a>
                </div>
                <% if(isAuthenticated === true){ %>
                <div class="docs-sidebar">
                    <a  href="/profile/<%=user._id%>">
                        <h5 class="navbar-title  mt-4">
                            <img class="sidebar_img" src="/<%=user.image%>"><span class="sidebar_text">個人檔案</span>
                        </h5>
                    </a>
                </div>
                <% } %>
            </div>
            <div  id="search-container">
                <div class="form-group">
                    <input id="search_user" type="text" class="form-control form-control-muted" placeholder="搜尋用戶 . . . ">
                </div>
                <table>
                    <span id="search_user_result_list"></span>
                </table>
            </div>
        </div>
    </nav>
</div>
<div class="main-content row position-relative pb-5">
    <span class="col-md-7" id = "post">
        <div style="margin: 90px"></div>
        <!--   動態加載貼文     -->
    </span>
    <div class="sidebar-none col-md-5 docs-sidebar  d-xl-block">
        <div style="margin-top: 7.5rem!important;"  class="toc-sidebar pl-4 mt-lg-8 border-left">
            <div class="scrollbar-inner">
                <h6 class="mb-3">為您推薦</h6>
                <% var isAuthenticated %>
                <% if(isAuthenticated === true){ %>
                    <ul class="section-nav">
                        <% for(let user of randomUnFollowList){%>
                            <li  class="toc-entry toc-h2">
                                <a style=";color: black" href="/profile/<%=user._id%>">
                                    <img style="margin: 5px;margin-left: 0" class="comment_img" src="/<%=user.image%>"><span style="color: #142d5b;font-weight: 600" ><%=user.email%></span>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                <% }else{ %>
                    <p>請先登入</p>
                <% } %>

            </div>
        </div>
    </div>
</div>
<input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
<script src="js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

    axios.post('/load',{
        _csrf:$("#_csrf").val()
    }).then((res)=>{
        const posts = res.data.posts
        posts.forEach(item=>{
            console.log(item.mark)
            if(item.mark === false){
                $("#post").append($(`
                <div style="margin: 0" class=" max-content docs-content">
                    <div class="tab-example-result">
                        <span id="post">
                            <div  class="card  border-0" style="max-width: 100%;">
                                <div class="card-header">
                                    <div style="display: flex">
                                        <a href="/profile/${item.userId._id}"><img class="user_img" src="/${item.userId.image}"></a>
                                        <div>
                                            <a href="/profile/${item.userId._id}"><h6  class="post_title card-title">${item.userId.email}</h6></a>
                                            <p  class="post_date card-text">${item.date}</p>

                                        </div>
                                    </div>
                                </div>
                                <img  src="/${item.image}" alt="image loading ...">
                                <div style="padding-bottom: 0" class="card-body">
                                    <span>
                                        <span id="like-${item._id}" onclick="like_('${item._id}')">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-distance" style=" ;stroke-width: 1.6;font-size: 25px;height: 30px;color: black"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                        </span>
                                        <span id="switch-${item._id}">
                                            <span  onclick="show_('${item._id}')">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-distance" style=" ;stroke-width: 1.6;font-size: 25px; color: black"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                                            </span>
                                        </span>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send" style=" stroke-width: 1.6;font-size: 25px; color: black"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                                        </span>
                                    </span>

                                    <div id ="comment-${item._id}">
                                    </div>

                                    <p  style=";color: black;margin-top: 15px" class="card-text">${item.content}</p>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input id="input-${item._id}" type="text" class="form-control form-control-flush" placeholder="留言 ... ">
                                            <div class="input-group-append">
                                                <a href="#" onclick="send_('input-${item._id}')" style="height: 30px;margin-top:10px;border-radius: 7px; padding: 0 10px 0 10px" class="input-group-text" id="send">發佈</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            `))
            }else{
                $("#post").append($(`
                <div style="margin: 0" class=" max-content docs-content">
                    <div class="tab-example-result">
                        <span id="post">
                            <div  class="card  border-0" style="max-width: 100%;">
                                <div class="card-header">
                                    <div style="display: flex">
                                        <a href="/profile/${item.userId._id}"><img class="user_img" src="/${item.userId.image}"></a>
                                        <div>
                                            <a href="/profile/${item.userId._id}"><h6  class="post_title card-title">${item.userId.email}</h6></a>
                                            <p  class="post_date card-text">${item.date}</p>

                                        </div>
                                    </div>
                                </div>
                                <img  src="/${item.image}" alt="image loading ...">
                                <div style="padding-bottom: 0" class="card-body">
                                    <span>
                                        <span id="like-${item._id}" onclick="like_('${item._id}')" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-distance" style=" ;stroke-width: 1.6;font-size: 25px;height: 30px;color: red;fill: red"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                        </span>
                                        <span id="switch-${item._id}">
                                            <span  onclick="show_('${item._id}')">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-distance" style=" ;stroke-width: 1.6;font-size: 25px; color: black"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                                            </span>
                                        </span>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send" style=" stroke-width: 1.6;font-size: 25px; color: black"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                                        </span>
                                    </span>

                                    <div id ="comment-${item._id}">
                                    </div>

                                    <p  style=";color: black;margin-top: 15px" class="card-text">${item.content}</p>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input id="input-${item._id}" type="text" class="form-control form-control-flush" placeholder="留言 ... ">
                                            <div class="input-group-append">
                                                <a href="#" onclick="send_('input-${item._id}')" style="height: 30px;margin-top:10px;border-radius: 7px; padding: 0 10px 0 10px" class="input-group-text" id="send">發佈</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            `))
            }
        })
    })


    function show_(id){
        axios.post(`/show_comment/${id}`,{
            _csrf:$('#_csrf').val()
        }).then(res=>{
            if(res.data.errno === 0){
                const comments = res.data.comments
                $(`#comment-${id}`).append($(`
                    <hr style="margin-top: 15px;margin-bottom: 15px">
                `))
                comments.forEach(item=>{
                    $(`#comment-${id}`).append($(`
                        <span style="display: flex">
                            <img class="comment_img" src="/${item.userId.image}">
                            <p class="comment">${item.content}</p>
                        </span>
                    `))
                })
                $(`#comment-${id}`).append($(`
                    <hr style="margin-top: 5px;margin-bottom: 15px">
                `))
                $(`#switch-${id}`).empty()
                $(`#switch-${id}`).append($(`
                    <span onclick="close_('${id}')">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-distance" style=" ;stroke-width: 1.6;font-size: 25px; color: black"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                    </span>
                `))
            }else if(res.data.errno === 1){
                $(`#comment-${id}`).append($(`
                     <p style="margin-top: 15px;color: #a0aec0">目前尚未有留言</p>
                `))
                $(`#switch-${id}`).empty()
                $(`#switch-${id}`).append($(`
                    <span onclick="close_('${id}')">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-distance" style=" ;stroke-width: 1.6;font-size: 25px; color: black"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                    </span>
                `))
            }
        })
    }
    function close_(id){
        $(`#comment-${id}`).empty()
        $(`#switch-${id}`).empty()
        $(`#switch-${id}`).append($(`
            <span  onclick="show_('${id}')">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-distance" style=" ;stroke-width: 1.6;font-size: 25px; color: black"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
            </span>
        `))
    }
    function send_(id){

        if('<%= isAuthenticated %>' === 'false'){
            window.location.href = '/login'
        }else{
            if($(`#${id}`).val() !== ''){
                axios.post("/comment",{
                    comment: $(`#${id}`).val(),
                    _csrf:$("#_csrf").val(),
                    id:id
                }).then(res=>{
                    if(res.data.errno === 1){
                        swal({
                            title:'錯誤',
                            text:'請稍候再試',
                            icon:'error',
                            timer: 750
                        })
                    }else if(res.data.errno === 0){
                        swal({
                            title:'發佈成功',
                            icon:'success',
                            timer: 750
                        })
                    }
                })
            }
        }
    }



    function like_(id){
        if('<%= isAuthenticated %>' === 'false'){
            window.location.href = '/login'
        }else{
            if($(`#like-${id}`)[0].children[0].style.color === 'black'){
                axios.post(`/like/${id}`,{
                    _csrf:'<%=csrfToken%>',
                    isLike:true
                }).then(()=>{
                    $(`#like-${id}`).empty()
                    $(`#like-${id}`).append($(`
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-distance" style=" ;stroke-width: 1.6;font-size: 25px;height: 30px;color: red;fill: red"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                `))
                })
            }else{
                axios.post(`/like/${id}`,{
                    _csrf:'<%=csrfToken%>',
                    isLike:false
                }).then(()=>{
                    $(`#like-${id}`).empty()
                    $(`#like-${id}`).append($(`
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-distance" style=" ;stroke-width: 1.6;font-size: 25px;height: 30px;color: black"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                `))
                })
            }
        }
    }

</script>
<%-include('../include/footer.ejs')%>
